<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://kit.fontawesome.com/077191d827.js" crossorigin="anonymous"></script>
    <title>Endless Pawsabilities</title>
  </head>
  <body>
    <head>
      <!-- Site Title-->
      <title>Endless Pawsabilities</title>
      <meta name="format-detection" content="telephone=no">
      <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta charset="utf-8">
      <link rel="icon" href="images/favicon.ico" type="image/x-icon">
      <!-- Stylesheets-->
      <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Lato:400,700,400italic%7CPoppins:300,400,500,700">
      <link rel="stylesheet" href="css/style.css">

    </head>
    <body>
      <!-- Page-->
      <div class="page">
        <div class="page-loader">
          <div class="brand-name">
          </div>
          <div class="page-loader-body">
            <div class="cssload-jumping"><span></span><span></span><span></span><span></span><span></span></div>
          </div>
        </div>
        <header class="page-header">
          <!-- RD Navbar-->
          <div class="rd-navbar-wrap">
            <nav class="rd-navbar rd-navbar-default" data-layout="rd-navbar-fixed" data-sm-layout="rd-navbar-fixed" data-sm-device-layout="rd-navbar-fixed" data-md-layout="rd-navbar-static" data-md-device-layout="rd-navbar-fixed" data-lg-device-layout="rd-navbar-static" data-lg-layout="rd-navbar-static" data-stick-up-clone="true" data-md-stick-up-offset="190px" data-lg-stick-up-offset="190px">

              <div class="rd-navbar-inner">
                <!-- RD Navbar Panel-->
                <div class="rd-navbar-panel">
                  <button class="rd-navbar-toggle" data-rd-navbar-toggle=".rd-navbar-nav-wrap"><span></span></button>
                  <!-- RD Navbar Brand-->
                  <div class="rd-navbar-brand"><a class="brand-name" href="index.html"><img  alt="" width="176" height="45"/></a></div>
                </div>
                <!-- RD Navbar Nav-->
                <div class="rd-navbar-nav-wrap">
                  <ul class="rd-navbar-nav">
                    <li><a href="/adminfeed">Home</a>
                    </li>
                    <li><a href="about-us.html">About Us</a>
                    </li>
                    <li><a href="adopt-a-pet.html">Adopt a Pet</a>
                      <ul class="rd-navbar-dropdown tabs-nav">
                        <li><a href="/feed">Adopt cats</a>
                        </li>
                        <li><a href="/dogfeed">Adopt dogs</a>
                        </li>
                        <li><a href="/smallanifeed">Adopt small pets</a>
                        </li>

                      </ul>
                    </li>
                    <li><a href="logout">Log Out</a>
                    </li>
                  </ul>
                </div>
              </div>
            </nav>
          </div>
        </header>
        <!-- Breadcrumbs & Page title-->
        <div class="page-title">
          <div class="page-title-text">Applications To Review</div>
        </div>

    <style media="screen">
      table {
        margin-top: 3rem;
        margin-left: 2rem;
      }
      td{
        border: 1px solid black;
        margin: 5px;
        padding: 5px;
      }
    </style>

    <table style="width:90%">
    <% for(var i=0; i<applications.length; i++) {%>
        <tr>
          <th>Name</th>
          <th>Email</th>
          <th>Number</th>
          <th>Address</th>
          <th>Pet Name</th>
          <th>Own Pets</th>
          <th>Vet</th>
          <th>Home</th>
          <th>Roommates</th>
          <th>Behavior</th>
          <th>Lastname</th>
          <th>Reference</th>
          <th>Approve</th>
          <th>Deny</th>
          <th>Pending</th>
        </tr>
        <tr>
          <td><%= applications[i].userName %></td>
          <td><%= applications[i].userEmail %></td>
          <td><%= applications[i].userNumber %></td>
          <td><%= applications[i].userAddress %></td>
          <td><%= applications[i].petName %></td>
          <td><%= applications[i].ownPets %></td>
          <td><%= applications[i].schedule %></td>
          <td><%= applications[i].vet %></td>
          <td><%= applications[i].home %></td>
          <td><%= applications[i].roommates %></td>
          <td><%= applications[i].behavior %></td>
          <td><%= applications[i].reference %></td>
          <td style="color: lightgreen;" ><i class="fas fa-check"></i></td>
          <td style="color: red;"><i class="fas fa-times"></i></td>
          <td style="color: darkblue;"><i class="fas fa-clock"></i></td>
        </tr>
      <% } %>
    </table>


    <script type="text/javascript" src="main.js"></script>
    <script src="js/core.min.js"></script>
    <script src="js/script.js"></script>
  </body>
  </html>
