<!DOCTYPE html>
<html class="wide wow-animation" lang="en">
  <head>
    <!-- Site Title-->
    <title>Endless Pawsabilities</title>
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
    <link rel="icon" href="images/favicon.ico" type="image/x-icon">
    <script src="https://kit.fontawesome.com/077191d827.js" crossorigin="anonymous"></script>
    <!-- Stylesheets-->
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Lato:400,700,400italic%7CPoppins:300,400,500,700">
    <link rel="stylesheet" href="css/style.css">
		<!--[if lt IE 10]>
    <div style="background: #212121; padding: 10px 0; box-shadow: 3px 3px 5px 0 rgba(0,0,0,.3); clear: both; text-align:center; position: relative; z-index:1"><a href="http://windows.microsoft.com/en-US/internet-explorer/"><img src="images/ie8-panel/warning_bar_0000_us.jpg" border="0" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today."></a></div>
    <script src="js/html5shiv.min.js"></script>
		<![endif]-->
  </head>
  <body>
    <!-- Page-->
    <div class="page">
      <div class="page-loader">
        <div class="brand-name"><img alt="" width="176" height="45"/>
        </div>
        <div class="page-loader-body">
          <div class="cssload-jumping"><span></span><span></span><span></span><span></span><span></span></div>
        </div>
      </div>
      <header class="page-header">
        <!-- RD Navbar-->
        <div class="rd-navbar-wrap">
          <nav class="rd-navbar rd-navbar-default" data-layout="rd-navbar-fixed" data-sm-layout="rd-navbar-fixed" data-sm-device-layout="rd-navbar-fixed" data-md-layout="rd-navbar-static" data-md-device-layout="rd-navbar-fixed" data-lg-device-layout="rd-navbar-static" data-lg-layout="rd-navbar-static" data-stick-up-clone="true" data-md-stick-up-offset="190px" data-lg-stick-up-offset="190px">

            <div class="rd-navbar-inner">
              <!-- RD Navbar Panel-->
              <div class="rd-navbar-panel">
                <button class="rd-navbar-toggle" data-rd-navbar-toggle=".rd-navbar-nav-wrap"><span></span></button>
                <!-- RD Navbar Brand-->
                <div class="rd-navbar-brand"><a class="brand-name" href="/<messages[i].petname>"><img alt="" width="176" height="45"/></a></div>
              </div>
              <!-- RD Navbar Nav-->
              <div class="rd-navbar-nav-wrap">
                <ul class="rd-navbar-nav">
                  <li><a href="/">Home</a>
                  </li>
                  <li><a href="about-us.html">About Us</a>
                  </li>
                  <li><a href="adopt-a-pet.html">Adopt a Pet</a>
                    <ul class="rd-navbar-dropdown tabs-nav">
                      <li><a href="/feed">Adopt cats</a>
                      </li>
                      <li><a href="/dogfeed">Adopt dogs</a>
                      </li>
                      <li><a href="/smallanifeed">Adopt small pets</a>
                      </li>

                    </ul>
                  </li>
                  <li><a href="logout">Log Out</a>
                  </li>
                </ul>
              </div>
            </div>
          </nav>
        </div>
      </header>
      <!-- Breadcrumbs & Page title-->


      <!-- Adopt pets-->
      <section class="section-md bg-white text-center">
        <div class="shell">
          <div data-content-to="#adopt-cats">
            <h3>One Of These Cats may become Yours</h3>
            <p class="big text-width-medium">From spunky to docile and cuddly to independent, Animal Shelter has dozens of kittens and cats waiting for their forever homes. Take a look and see which one is right for you!</p>
          </div>
          <div data-content-to="#adopt-dogs">
            <h3>Adopt a dog in New York City</h3>
            <p class="big text-width-smaller">Looking for a true friend for you, your children or your family? Consider adopting a dog from Animal Shelter today!</p>
          </div>
          <div data-content-to="#adopt-small-pets">
            <h3>Small Animals for Adoption</h3>
            <p class="big text-width-small">Small animals can be great companions if you cannot afford a bigger pet or live in a small house, but are looking for someone cute to adopt.</p>
          </div>
          <!-- Bootstrap tabs-->
          <div class="tabs tabs-custom tabs-vertical tabs-corporate tabs-wide" id="tabs-1" data-url-tabs="true">
            <!-- Nav tabs-->
            <!-- <ul class="nav nav-tabs">
              <li class="active"><a href="#adopt-cats" data-toggle="tab">Adopt Cats</a></li>
              <li><a href="#adopt-dogs" data-toggle="tab">Adopt Dogs</a></li>
              <li><a href="#adopt-small-pets" data-toggle="tab">Adopt Small Pets</a></li>
            </ul> -->
            <!-- Tab panes-->
            <div class="tab-content">
              <!-- Tab 1-->
              <div class="tab-pane fade in active" id="adopt-cats"><img class="img-responsive" src="images/adopt-cats-1-770x485.jpg" alt="" width="770" height="485"/>
                <h4>Bring a New Cat Home</h4>
                <p>Choosing to adopt a cat or kitten is an exciting time. Even though there are many things to consider before adopting a pet,  a cat from Animal Shelter can easily become a new member of your family and what’s more important find a loving family and home. Here are the cats and kittens we are glad to offer you for adoption.</p>
                <div class="range spacing-30">
                  <!-- _______________________________ -->


                  <% for(var i=0; i<petlistings.length; i++) {%>

                    <div class="cell-md-6">
                    <!-- Thumbnail boxed vertical-->
                    <div class="thumbnail-boxed thumbnail-boxed-vertical">
                      <div class="thumbnail-boxed-left"><img class="thumbnail-boxed-image" src="<%= petlistings[i].imgPath%>" alt="" width="370" height="240"/>
                      </div>
                      <div class="thumbnail-boxed-body">
                        <p class="thumbnail-boxed-title" ><span><%= petlistings[i].petName %></span></p>
                        <div class="thumbnail-boxed-text">
                          <p><%= petlistings[i].caption %></p>
                        </div>
                        <div class="thumbnail-boxed-footer">
                          <ul class="thumbnail-boxed-meta">
                            <li style="display: none;"><span class="icon icon-xs icon-tan-hide material-icons-event_available"></span><span><%= petlistings[i].petName %></span></li>
                            <li><span class="icon icon-xs icon-tan-hide material-icons-done"></span><span><%= petlistings[i].age %></span></li>
                            <li><span class="icon icon-xs icon-tan-hide material-icons-done"></span><span><%= petlistings[i].weight %></span></li>
                            <li><span class="icon icon-xs icon-tan-hide material-icons-place"></span><span><%= petlistings[i].city %></span></li>
                            <li><span><button class="overlayOn" type="button" name="button">Bio</button></span></li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>


                    <section id="<%= petlistings[i].petName %>" class="section-md bg-white text-center" style=" position: absolute; display: none; width: 100%; height: 100%; top: 0%; left: 0%; right: 0; bottom: 0; background-color: black; z-index: 2; cursor: pointer;}">
                      <div class="shell">
                        <div class="range range-sm-center">
                          <div class="cell-sm-9 cell-md-12">
                            <!-- Box profile-->
                            <article class="box-profile">
                              <div class="box-profile-left"><img class="box-profile-image" src="images/lavender-570x389.jpg" alt="" width="570" height="389"/>
                              </div>
                              <div class="box-profile-body">
                                <p class="box-profile-name"><%= petlistings[i].petName %></p>
                                <p class="box-profile-description">Spayed Female</p>
                                <div class="box-profile-text">
                                  <p>This beautiful cat had health issues her family couldn’t take care of, so she came to us, and we quickly found her a place in our shelter. She is a very lovable 4 yr old female domestic shorthair cat and she weighs 10 pounds. Lavender is all about affection and looking for that special person to spend the rest of her life with. She is wonderful indoors and she enjoys dry cat food.</p>
                                  <p class="box-profile-title">Information for Adopters</p>
                                  <p>All cats and kittens have been vet-checked, spayed/neutered, and are up-to-date on vaccinations. Adoption fee includes carrier, scratching pad, starter pack of food and litter, and toy. We prefer kittens be adopted in pairs. We offer free advice anytime about your adopted cat. If, for any reason, it doesn't work out, we will take the cat back, anytime in the future. Potential adopters must be interviewed in person, at the shelter, and live within 150 miles of Animal Shelter.</p>
                                </div>
                                <button class="overlayOff" type="button" name="button">Close</button>
                              </div>
                            </article>
                          </div>
                        </div>
                      </div>
                    </section>
                  <% } %>

                  <!-- <div class="cell-md-6"> -->
                    <!-- Thumbnail boxed vertical-->
                    <!-- <div class="thumbnail-boxed thumbnail-boxed-vertical thumbnail-boxed-blue-marguerite">
                      <div class="thumbnail-boxed-left"><img class="thumbnail-boxed-image" src="images/adopt-cats-3-370x240.jpg" alt="" width="370" height="240"/>
                      </div>
                      <div class="thumbnail-boxed-body">
                        <p class="thumbnail-boxed-title"><a href="/moss">Moss</a></p>
                        <div class="thumbnail-boxed-text">
                          <p>Moss needed more time and attention than her caretaker could provide, so she was...</p>
                        </div>
                        <div class="thumbnail-boxed-footer">
                          <ul class="thumbnail-boxed-meta">
                            <li><span class="icon icon-xs icon-tan-hide material-icons-event_available"></span><span>2.5 years old</span></li>
                            <li><span class="icon icon-xs icon-tan-hide material-icons-done"></span><span>5 pounds</span></li>
                            <li><span class="icon icon-xs icon-tan-hide material-icons-place"></span><span>New York</span></li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div> -->
                  <!-- <div class="cell-md-6"> -->
                    <!-- Thumbnail boxed vertical-->
                    <!-- <div class="thumbnail-boxed thumbnail-boxed-vertical thumbnail-boxed-tan-hide">
                      <div class="thumbnail-boxed-left"><img class="thumbnail-boxed-image" src="images/adopt-cats-4-370x240.jpg" alt="" width="370" height="240"/>
                      </div>
                      <div class="thumbnail-boxed-body">
                        <p class="thumbnail-boxed-title"><a href="single-page-pets.html">Nettle</a></p>
                        <div class="thumbnail-boxed-text">
                          <p>As one of the oldest cats at our shelter, Nettle requires some special attention and...</p>
                        </div>
                        <div class="thumbnail-boxed-footer">
                          <ul class="thumbnail-boxed-meta">
                            <li><span class="icon icon-xs icon-tan-hide material-icons-event_available"></span><span>10 years old</span></li>
                            <li><span class="icon icon-xs icon-tan-hide material-icons-done"></span><span>4 pounds</span></li>
                            <li><span class="icon icon-xs icon-tan-hide material-icons-place"></span><span>New York</span></li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="cell-md-6"> -->
                    <!-- Thumbnail boxed vertical-->
                    <!-- <div class="thumbnail-boxed thumbnail-boxed-vertical">
                      <div class="thumbnail-boxed-left"><img class="thumbnail-boxed-image" src="images/adopt-cats-5-370x240.jpg" alt="" width="370" height="240"/>
                      </div>
                      <div class="thumbnail-boxed-body">
                        <p class="thumbnail-boxed-title"><a href="single-page-pets.html">Princess</a></p>
                        <div class="thumbnail-boxed-text">
                          <p>This kitty was found as a stray and came to Animal Shelter to find a new home. People...</p>
                        </div>
                        <div class="thumbnail-boxed-footer">
                          <ul class="thumbnail-boxed-meta">
                            <li><span class="icon icon-xs icon-tan-hide material-icons-event_available"></span><span>2.1 years old</span></li>
                            <li><span class="icon icon-xs icon-tan-hide material-icons-done"></span><span>6 pounds</span></li>
                            <li><span class="icon icon-xs icon-tan-hide material-icons-place"></span><span>New York</span></li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </div> -->

              </div>


            </div>
          </div>
        </div>
      </section>

      <!-- Page Footer-->

    <!-- Javascript-->
    <script src="main.js"></script>
    <script src="js/core.min.js"></script>
    <script src="js/script.js"></script>
  </body>
</html>
